<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBI-mBJICtr9HM6lRTO3M492HSIFg8NRqc</string>
	<key>GCM_SENDER_ID</key>
	<string>834098871992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.sample</string>
	<key>PROJECT_ID</key>
	<string>avocado-test-5e236</string>
	<key>STORAGE_BUCKET</key>
	<string>avocado-test-5e236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834098871992:ios:66e3eea63a10ea58af7e4d</string>
</dict>
</plist>